* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 100px;
  color: red;
}
h1::after {
  content: "? and dostNio";
  color: blue;
}
h1::before {
  content: "hihii";
  color: yellow;
  font-size: 40px;
}

#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}
#box::after {
  content: " kise ho";
}
#box::before {
  content: "i am in before ";
}
