* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#box {
  width: 400px;
  height: 400px;
  background-color: red;
  position: absolute;
  /* after making the animation using keyFrame you have to apply the animation by usong the animation name property and have to give the duration of the animation and you can give delay too */
  animation-name: anime;
  animation-duration: 10s;
  animation-delay: 1s;
}
@keyframes anime {
  from {
    /* from ke andar bo values/properties rahega jo initial phase me hay */
    left: 0;
    background-color: red;
  }
  to {
    /* to ke andar bo values/properties rahega jo final phase me hay */
    left: 60%;
    rotate: 360deg;
    background-color: blue;
  }
}
