* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.box1 {
  height: 300px;
  width: 300px;
  background-color: rgb(232, 119, 119);
  padding: 30px;
  border: 3px solid black; /* border: solid, dashed */
  border-radius: 10px;
  margin: 30px;
}

.inline-block {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: red;
}
#car1 {
  /* position: absolute; */
  width: 100px;
  height: 140px;
  background-color: red;
}
#car2 {
  width: 80px;
  height: 120px;
  background-color: yellow;
  /* top: 0; */
  /* left: 50%; */
  position: absolute;
}
#car3 {
  /* position: absolute; */
  width: 105px;
  height: 90px;
  background-color: blue;
}

.relative {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: green;
}
.box {
  position: absolute;
  width: 60px;
  /* top: 0; */
  /* left: 0; */
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: white;
  border: 2px solid black;
}

.background {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  background: url(https://plus.unsplash.com/premium_photo-1706625640609-d49d82d406c5?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  background: linear-gradient(to right bottom, red, green);
}
