* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #f3f3f3;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 30% 30%;
}
#left-top-left {
  background-color: red;
}
#left-top-right {
  background-color: blue;
}
#left-center {
  background-color: green;
  grid-row: 2/3;
  grid-column: 1/3;
}
#left-bottom {
  background-color: yellow;
  grid-row: 3/4;
  grid-column: 1/3;
}
#right-top-right {
  grid-column: 3/5;
  background-color: aquamarine;
}
#right-center-left {
  background-color: blue;
  grid-column: 3/4;
}
#right-center-right {
  background-color: rgb(42, 255, 4);
  grid-column: 4/5;
}

#right-bottom-right {
  background-color: blueviolet;
  grid-column: 3/5;
}
