@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.outer-container {
  width: 450px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}
.profile-image-holder img {
  width: 100%;
}
.name-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.name-holder h2 {
  text-transform: uppercase;
}

.bio-holder {
  padding: 10px 20px;
}
.skills {
  padding: 0px 20px 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}
.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
